<div class="row">
  <div class="col-lg-6">
    <ul>
      <li><a href="<%= user_path(Revyoomee.Endpoint, :index) %>">Users</a></li>
      <li><a href="<%= review_path(Revyoomee.Endpoint, :index) %>">Reviews</a></li>
    </ul>
  </div>
</div>
